<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Homepage.java</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>clg.project.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Entry</servlet-name>
        <servlet-class>clg.project.Entry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DropDownTopic</servlet-name>
        <servlet-class>clg.project.DropDownTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>clg.project.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaderBoard</servlet-name>
        <servlet-class>clg.project.LeaderBoard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Entry</servlet-name>
        <url-pattern>/Entry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DropDownTopic</servlet-name>
        <url-pattern>/DropDownTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaderBoard</servlet-name>
        <url-pattern>/LeaderBoard</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
